@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

:root {
  --main-background-colour: #FEFBF6;
  --column-background-colour: #3D3C42;
  --text-colour: #FEFBF6;
  --shadow-colour: #252422;
  --card-hover-colour: #ffe7c7;
  --header-background-colour: #D6D8D9;
  --header-text-colour: #040505;
}

html,
body {
  background-color: var(--main-background-colour);
  font-family: 'Cascadia Code', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
}

.content {
  margin: 0px 0px 0px 10px;
  z-index: -1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 0.03fr 1fr 1fr;
}

header {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  font-size: 18px;
  background-color: var(--header-background-colour);
  border-bottom-left-radius: 10px;
  padding: 15px;
  margin-right: 0px;
}

#invite,
#logout,
#join,
#create {
  padding: 10px;
}

.information-at-a-glance {
  height: 65%;
  width: 100%;
  display: grid;
  grid-template-rows: .15fr 1fr;
  margin-right: 10px;
}

#header {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#user-name {
  font-size: 30px;
  justify-self: start;
  align-self: center;
}

#date-time {
  font-size: 20px;
  justify-self: end;
  align-self: center;
}

.filter-info-at-a-glance {
  justify-self: center;
  font-size: 20px;
}

#charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  height: 100%;
  width: 100%;
}

#stats-chart-wrapper {
  display: inline-block;
  position: relative;
  justify-self: center;
  width: 45%;
}

.all-project-containers {
  display: grid;
  grid-auto-flow: row;
  row-gap: 25px;
  grid-auto-rows: minmax(max-content, 450px);
  margin-right: 15px;
}

.project-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 0.5fr 1fr 0.25fr;
}

.project-heading {
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 55px;
}

.name {
  font-size: 30px;
  justify-self: center;
  align-self: center;
}

.filter-combo {
  font-size: 20px;
  justify-self: center;
  align-self: start;
}

.card-container {
  color: var(--text-colour);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  height: 100%;
  column-gap: 35px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 20px;
  margin: 0px;
}

.card {
  height: 80%;
  max-height: max-content;
  min-width: min-content;
  width: 100%;
  padding: 5px;
  max-width: 100%;
  padding-bottom: 2px;
  border-radius: 10px;
  box-shadow: var(--shadow-colour) 0px 6px 20px 0px;
  font-size: 15px;
  display: grid;
  grid-template-columns: 1fr 0.05fr;
  grid-template-rows: .25fr 1fr .15fr;
  border: 6px solid var(--shadow-colour);
  transition: border .15s, transform .15s;
  background-color: var(--column-background-colour);
}

.card:hover {
  border: 6px solid var(--card-hover-colour);
  transform: translate(-3px, -2px);
  /* box-shadow: rgba(100, 100, 111, 0.2) 9px 10px 2px 0px; */
}

.column {
  font-size: 20px;
  margin-top: 0px;
  min-width: max-content;
  padding: 9px;
  border-radius: 8px;
  justify-self: start;
  align-self: start;
}

.tag {
  font-size: 20px;
  margin-top: 0px;
  padding: 9px;
  border-radius: 8px;
  max-width: max-content;
  box-shadow: var(--shadow-colour) 9px 10px 2px 0px;
  transform: translate(-6px, -5px);
  justify-self: start;
  align-self: start;
}

.description {
  padding: 9px;
  justify-self: center;
  align-self: start;
  grid-column: 1/-1;
}

.by {
  margin-bottom: 0px;
  justify-self: center;
  text-align: center;
  align-self: center;
  font-size: 12px;
  grid-column: 1/-1;
  margin: 2px;
}

.project-specific-buttons {
  justify-self: end;
  align-self: start;
  height: max-content;
  width: max-content;
}

button {
  min-width: max-content;
  max-height: 50px;
  font-size: 15px;
  padding: 0px 40px;
  border-radius: 10px;
  background-color: var(--column-background-colour);
  transition: box-shadow .2s, transform .2s;
  box-sizing: border-box;
  line-height: 50px;
  font-family: 'Cascadia Code', sans-serif;
  color: var(--text-colour);
}

button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 9px 13px 2px 0px;
  transform: translate(-10px, -5px);
}

button:active {
  box-shadow: rgba(100, 100, 111, 0.2) 5px 7px 1px 0px;
  transform: translate(-5px, -2px);
}

div[class^="view-all,"] {
  margin-top: 40px;
}

#join-popup-header {
  font-size: 24px;
  padding: 0px 5px;
}

#join-link, #project-name {
  padding: 10px 5px;
  font-size: 18px;
  width: 100%;
  background-color: var(--shadow-colour);
  color: var(--text-colour);
  -webkit-transition: box-shadow .15s, border-top-left-radius .15s, border-top-right-radius .15s;
  -moz-transition: box-shadow .15s, border-top-left-radius .15s, border-top-right-radius .15s;
  -ms-transition: box-shadow .15s, border-top-left-radius .15s, border-top-right-radius .15s;
  -o-transition: box-shadow .15s, border-top-left-radius .15s, border-top-right-radius .15s;
  transition: box-shadow .15s, border-top-left-radius .15s, border-top-right-radius .15s;
}

#join-link:focus, #project-name:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px #4169E1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#join-popup-input-header,
#join-popup-input-link {
  justify-self: center;
  align-self: center;
}

#confirm-join-btn-div {
  display: grid;
}

#join-confirm-btn {
  justify-self: center;
  align-self: end;
}

#invite-popup-background,
#join-popup-background,
#create-popup-background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  position: absolute;
  margin: 0px;
  display: none;
}

#invite-popup-container,
#join-popup-container,
#create-popup-container {
  min-width: min-content;
  height: 30%;
  width: 28%;
  justify-self: center;
  align-self: center;
  background-color: var(--column-background-colour);
  color: var(--text-colour);
  border-radius: 10px;
  z-index: 10;
}

#create-popup-container{
  height: min-content;
}

#create-popup-information{
  justify-self: center;
  align-self: start;
  background-color: #D1ECF1;
  color: #265472;
  border: 2px solid #BEE5EB;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 0.0005fr 1fr;
}

#create-popup-information-icon-container{
  justify-self: start;
  align-self: start;
  margin: 0px;
}

#create-popup-information-icon{
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 7px;
}

#create-popup-information-text-container{
  margin: 0px;
}

#create-popup-information-bullets{
  margin-top: 5px;
  margin-right: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}


.all-elements-join-popup-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 25px;
}

.all-elements-invite-popup-wrapper {
  display: grid;
  grid-template-rows: 0.35fr 1fr 0.75fr 0.45fr;
  margin: 25px;
}

.all-elements-create-popup-wrapper{
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  margin-right: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}

#create-popup-project-name{
  justify-self: center;
  align-self: center;
}

#create-popup-input-heading{
  font-size: 20px;
}

#project-sel,
#id-to-be-invited,
#confirm-gen__add-id,
#join-popup-input-text,
#confirm-join-btn-div,
#create-popup-confirm-create,
#create-popup-project-heading {
  justify-self: center;
}

#project-sel {
  align-self: center;
}

#id-to-be-invited {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#confirm-gen__add-id {
  margin-bottom: 5px;
  align-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

#generate-link,
#add-user-id,
#join-confirm-btn,
#confirm-create {
  min-width: min-content;
  padding: 0px 20px;
  width: 200px;
}

#user-id-heading-text {
  justify-self: center;
  align-self: center;
}

#user-id {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-self: center;
}

.user-id-tag {
  display: grid;
  height: min-content;
  width: min-content;
  grid-template-columns: 1fr 0.5fr;
  background-color: var(--shadow-colour);
  border-radius: 5px;
}

.remove-user-id {
  padding: 0px;
  font-size: 13px;
  width: max-content;
  height: max-content;
  justify-self: end;
  align-self: start;
  margin: 0px;
  margin-right: 3px;
  margin-top: 4px;
  background: none;
  border: none;
  line-height: 10px;
  transition: none;
  cursor: pointer;
}

.remove-user-id:hover {
  transform: none;
}

.user-id-number {
  margin: 6px;
}

#generated-link-container {
  background-color: var(--shadow-colour);
  color: var(--text-colour);
  font-size: 18px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  display: grid;
}

#generate-link {
  justify-self: center;
  align-self: center;
  display: inline-block;
}

#error-flash {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
}

div[class^="flash-"] {
  font-size: 20px;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
  -moz-animation: alertAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: alertAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: alertAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: alertAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.flash-red {
  background-color: #F8D7DA;
  color: #721C24;
  border: 2px solid #F5C6CB;
}

.flash-green {
  background-color: #D4EDDA;
  color: #155724;
  border: 2px solid #C3E6CB;
}

@keyframes alertAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes alertAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

#flash-message {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  align-self: center;
  padding: 8px;
}