@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

:root {
    --main-background-colour: #FEFBF6;
    --column-background-colour: #3D3C42;
    --text-colour: #FEFBF6;
    --shadow-colour: #252422;
    --card-hover-colour: #ffe7c7;
    --header-background-colour: #D6D8D9;
    --header-text-colour: #040505;
}

html,
body {
    background-color: var(--main-background-colour);
    font-family: 'Cascadia Code', sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
}

.content {
    margin: 0px 0px 0px 10px;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.03fr 0.01fr 0.5fr 0.01fr 1fr;
}

header {
    font-size: 35px;
    justify-self: center;
    margin-top: 15px;
}

#all-current-roles-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: center;
    column-gap: 15px;
    padding: 20px;
    margin: 0px;
}

#current-roles-heading {
    font-size: 23px;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.hover-dropdown {
    position: relative;
    display: inline-block;
    justify-self: center;
    align-self: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: min-content;
    width: max-content;
    min-height: min-content;
    height: max-content;
    left: 0px;
    background-color: var(--column-background-colour);
    color: var(--text-colour);
    border: 2px solid var(--card-hover-colour);
    padding: 10px;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: var(--shadow-colour) 0px 0px 2px 0px;
}

.hover-dropdown:hover .dropdown-content {
    display: block;
}

.hover-dropdown:hover .role-btn {
    border: 4px solid var(--card-hover-colour);
}

.role-btn {
    background-color: var(--column-background-colour);
    color: var(--text-colour);
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
    border: 4px solid var(--shadow-colour);
    box-shadow: var(--shadow-colour) 0px 2px 2px 0px;
    transition: border .15s;
    font-family: 'Cascadia Code', sans-serif;
}

.role-btn:hover {
    border: 4px solid var(--card-hover-colour);
}

.can-delete-from-heading,
.can-move-to-and-from-heading {
    font-weight: bold;
}

.column-name-move-to-and-from,
.column-name-delete-from {
    margin: 0px;
    padding: 5px;
    display: inline-block;
    background-color: var(--card-hover-colour);
    color: var(--shadow-colour);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.can-delete-from-heading {
    margin-top: 0px;
}

#all-users-current-roles-heading {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 23px;
}

#all-users-current-roles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: 13%;
    margin-top: 15px;
    justify-self: center;
    text-align: center;
}

.user-name {
    font-size: 18px;
}

#role-selectors {
    justify-self: center;
    align-self: center;
}

select {
    text-align: center;
    text-align-last: center;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 15px;
    padding: 5px;
}

option {
    text-align: center;
    text-align-last: center;
}

#save-btn-container {
    grid-column-start: 2;
    grid-column-end: -1;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
}

#save-changes-button {
    background-color: var(--column-background-colour);
    color: var(--text-colour);
    padding: 16px;
    font-size: 16px;
    width: 65%;
    border-radius: 10px;
    border: 4px solid var(--shadow-colour);
    transition: box-shadow .2s, transform .2s;
    font-family: 'Cascadia Code', sans-serif;
}

#save-changes-button:hover:enabled {
    box-shadow: rgba(100, 100, 111, 0.2) 9px 13px 2px 0px;
    transform: translate(-10px, -5px);
}

#save-changes-button:active:enabled {
    box-shadow: rgba(100, 100, 111, 0.2) 5px 7px 1px 0px;
    transform: translate(-5px, -2px);
}

#save-changes-button:disabled {
    opacity: 0.65;
}

#error-flash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
}

div[class^="flash-"] {
    font-size: 20px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10px;
    -moz-animation: alertAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: alertAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: alertAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: alertAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.flash-red {
    background-color: #F8D7DA;
    color: #721C24;
    border: 2px solid #F5C6CB;
}

.flash-green {
    background-color: #D4EDDA;
    color: #155724;
    border: 2px solid #C3E6CB;
}

@keyframes alertAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes alertAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

#flash-message {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    align-self: center;
    padding: 8px;
}