<!DOCTYPE html>
<html lang="en">

<head>
    {% if title %}
    <title>BugMania - {{title}}</title>
    {% else %}
    <title>BugMania</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block link_css %}
    {% endblock link_css %}

</head>

<body>
    <!--Because of this tag firefox will show the page after all the css is loaded-->

    <script>0</script>
    {% block content %}
    {% endblock content %}
</body>
{% block link_js %}
{% endblock link_js %}
{% block flash_messages %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
            {% for message in messages %}
                <p id="flash-message">{{ message }}</li>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock flash_messages %}

</html>