{% extends 'layout.html' %}
{% block link_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dashboard.css')}}">
{% endblock link_css %}
{% block content %}
<div class='content'>
    {% for i in dict_keys %}
    <div class='project-container'>
        <div class="project-heading">
            <div class='name'>
                <span class='project-name'>{{ i }}</span>
            </div>
            <div class="filter-combo">
                <label for="filters">Filter</label>
                <select name="filters" id="filters,{{ i }}" onchange="comboChanged(this)">
                    <option value="all">All</option>
                    <option value="assigned-to-me">Assigned to me</option>
                </select>
            </div>
        </div>
        <div class="card-container" id="card-container,{{ i }}">
            {% for z in value[i] %}
            <div class='card'>
                <p class='tag' style='color: {{ z[3] }}'>{{z[2]}}</p>
                <p class='column'>{{ z[4] }}</p>
                <p class='description'>{{ z[5] }}</p>
                <p class='by'>{{ z[6] }} -> {{ z[7] }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="view-all,{{ i }}">
            <button type="button" class="view-all,{{ i }}" id="view-all-btn" onclick="viewAllClicked(this)">View All</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
{% block link_js %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/dashboard.js') }}"></script>
{% endblock link_js %}