{% extends 'layout.html' %} {% from 'helper/card_macro.html' import card_macro
%} {% block link_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
{% endblock %} {% block content %}
<div class="content">
    <div class="columns">
        <div id="open-column-container" class="column-container">
            <div class="not-sortable-permission-denied-container" id="permission-denied-container-open">

            </div>
            <div id="open" class="sortable">
                <p class="not-sortable-column-name">OPEN</p>
                {% for value in data['open'] %} {{ card_macro(value, "open", loop.index)
                }} {% endfor %}
            </div>
        </div>
        <div id="in-progress-column-container" class="column-container">
            <div class="not-sortable-permission-denied-container" id="permission-denied-container-in-progress">

            </div>
            <div id="in-progress" class="sortable">
                <p class="not-sortable-column-name">IN PROGRESS</p>
                {% for value in data['in-progress'] %} {{ card_macro(value, "in-progress",
                loop.index) }} {% endfor %}
            </div>
        </div>
        <div id="to-be-tested-column-container" class="column-container">
            <div class="not-sortable-permission-denied-container" id="permission-denied-container-to-be-tested">

            </div>
            <div id="to-be-tested" class="sortable">
                <p class="not-sortable-column-name">TO BE TESTED</p>
                {% for value in data['to-be-tested'] %} {{ card_macro(value,
                "to-be-tested", loop.index) }} {% endfor %}
            </div>
        </div>
        <div id="closed-column-container" class="column-container">
            <div class="not-sortable-permission-denied-container" id="permission-denied-container-closed">

            </div>
            <div id="closed" class="sortable">
                <p class="not-sortable-column-name">CLOSED</p>
                {% for value in data['closed'] %} {{ card_macro(value, "close",
                loop.index) }} {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block link_js %}
<script type="module" src="{{ url_for('static', filename='javascript/mainProject.js') }}"></script>
{% endblock link_js %}